<%- include('header'); -%>
<!-- ejs layouts(header & footer) -->

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(item){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input id="liveToastBtn" type="checkbox" name="checkedItem" value="<%= item._id %>" onchange="this.form.submit()">
          <input type="hidden" name="currentList" value="<%= currentList %>">
          <p><%= item.name %></p>
        </div>
      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

  <%- include('footer'); -%>
